.Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background: #fff;
    width: 500px;
    height: 300px;
    border-radius: 8px;
  }

.Modal h1
{
    text-align: center;
    font-weight: normal;
    font-size: 26px;
    border-bottom: 2px solid #dddbda;
    padding: 10px 0 10px 0;
}

.Modal p
{
    text-align: left;
    padding: 10px;
}

.Modal button
{
    float: right;
    padding: 2px 5px 2px 5px;
    
}

.Modal .modalFooter
{
    padding: 10px;
    border-top: 2px solid #dddbda;
    
}

  .Overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 9998;
    background: rgba(0,0,0,0.5);
  }